.DS_Store
*.local
dist
dist-ssr
node_modules
.idea/
*.log
.env.mobile
.env
.env.dev
.netlify
ios/App/App/GoogleService-Info.plist
android/app/google-services.json
android/google-play-key.json

# Supabase
**/supabase/.branches
**/supabase/.temp
# Supabase
**/supabase/.branches
**/supabase/.temp
capgo.paw
keystore.jks.b64
play_config.json
play_config.json.b64
android/app/keystore.jks
report.xml
fastlane/metadata/review_information/demo_password.txt
fastlane/metadata/review_information/demo_user.txt
fastlane/metadata/review_information/phone_number.txt
.capgo_key
.capgo_key.pub
.wrangler/*

scripts/template/netlify/test.gplay.js

/test-results/
/playwright-report/
/playwright/.cache/
/playwright/.auth/
CHANGELOG.md
.history

tests_backend/gh_actions/ch_data/*
tests_backend/gh_actions/ch_logs/*
.env.dev
cloudflare_workers_deno/cloudflare/*
cloudflare_workers_deno/cloudflare_tests/*
cloudflare_workers_deno/cloudflare_utils/*
cloudflare_workers_deno/generated_functions_map.ts
cloudflare_workers_deno/.denoflare

.dev.vars
.vars
supabase/functions/_script/import_d1.sh
src/types/supabase.types.ts
supabase/functions/_backend/utils/supabase.types.ts
.env.alpha

vite\.config\.mts\.timestamp-[A-Za-z0-9]+-([A-Za-z0-9]+(\.[A-Za-z0-9]+)+)
vite.config.mts.timestamp-1712411621093-7395fe6f168c5.mjs
dist_cf
.gitsecret/keys/random_seed
!*.secret
internal/how-to-deploy.md
internal/cloudflare/.dev.env
internal/cloudflare/.preprod.env
internal/cloudflare/.prod.env
internal/cloudflare/.env.preprod
internal/cloudflare/.env.prod
scripts/local_cf_backend/spawn
temp_cli_test*
internal/netlify/.env.prod
internal/supabase/.env.prod
cloudflare_workers/files/.wrangler/*
cloudflare_workers/plugin/.wrangler/*
tmp/*
internal/files-api-dev/files_hash_map.json
internal/files-api-dev/uploads/*
internal/files-api-dev/main.go
internal/files-api-dev/go.mod
internal/files-api-dev/go.sum
._.DS_Store
internal/forgr-key.jks
internal/forgr-key.jks.base64
internal/electric/.env.prod
