.DS_Store
*.local
dist
dist-ssr
node_modules
.idea/
*.log
.env.mobile
.env
.env.dev
.netlify
ios/App/App/GoogleService-Info.plist
android/app/google-services.json
android/google-play-key.json

# Supabase
**/supabase/.branches
**/supabase/.temp
# Supabase
**/supabase/.branches
**/supabase/.temp
capgo.paw
keystore.jks.b64
play_config.json
play_config.json.b64
android/app/keystore.jks
report.xml
fastlane/metadata/review_information/demo_password.txt
fastlane/metadata/review_information/demo_user.txt
fastlane/metadata/review_information/phone_number.txt
.capgo_key
.capgo_key.pub

/netlify