[build.environment]
  NODE_VERSION = "19"

[build]
  publish = "dist"
  command = "pnpm build && pnpm generate:node_serverless"

[dev]
  framework = "vite"

[[redirects]]
  from = '/.well-known/*'
  status = 200
  to = '/deepLink/:splat'

[[redirects]]
  from = "/api/auto_update"
  to = "/.netlify/functions/updates"
  status = 200

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Referrer-Policy = "strict-origin"

[[headers]]
  for = "/api/*"
  [headers.values]
    cache-control = "public, s-max-age=60"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/.well-known/*"
  [headers.values]
    Content-Type = "application/json"

[[headers]]
  for = "/manifest.webmanifest"
  [headers.values]
    Content-Type = "application/manifest+json"

# auto egde generate

[[edge_functions]]
  path = "/api-edge/bundle"
  function = "bundle"

[[edge_functions]]
  path = "/bundle"
  function = "bundle"

[[edge_functions]]
  path = "/api-edge/channel"
  function = "channel"

[[edge_functions]]
  path = "/channel"
  function = "channel"

[[edge_functions]]
  path = "/api-edge/channel_self"
  function = "channel_self"

[[edge_functions]]
  path = "/channel_self"
  function = "channel_self"

[[edge_functions]]
  path = "/api-edge/device"
  function = "device"

[[edge_functions]]
  path = "/device"
  function = "device"

[[edge_functions]]
  path = "/api-edge/ok"
  function = "ok"

[[edge_functions]]
  path = "/ok"
  function = "ok"

[[edge_functions]]
  path = "/api-edge/plans"
  function = "plans"

[[edge_functions]]
  path = "/plans"
  function = "plans"

[[edge_functions]]
  path = "/api-edge/stats"
  function = "stats"

[[edge_functions]]
  path = "/stats"
  function = "stats"

[[edge_functions]]
  path = "/api-edge/store_top"
  function = "store_top"

[[edge_functions]]
  path = "/store_top"
  function = "store_top"

[[edge_functions]]
  path = "/api-edge/updates"
  function = "updates"

[[edge_functions]]
  path = "/updates"
  function = "updates"

[[edge_functions]]
  path = "/api-edge/website_stats"
  function = "website_stats"

[[edge_functions]]
  path = "/website_stats"
  function = "website_stats"

