/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
@import './markdown.css';

/** Ionic CSS Variables **/
:root {
    /** primary **/
    --ion-color-primary: theme('colors.dusk.500');
    --ion-color-primary-rgb: 81, 82, 113;
    --ion-color-primary-contrast: theme('colors.white.DEFAULT');
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: theme('colors.dusk.300');
    --ion-color-primary-tint: theme('colors.dusk.700');
  
    /** secondary **/
    --ion-color-secondary: theme('colors.azure.500');
    --ion-color-secondary-rgb: 42, 182, 205;
    --ion-color-secondary-contrast: theme('colors.white.DEFAULT');
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: theme('colors.azure.300');
    --ion-color-secondary-tint: theme('colors.azure.700');
  
    /** tertiary **/
    --ion-color-tertiary: theme('colors.cornflower.500');
    --ion-color-tertiary-rgb: 104, 118, 225;
    --ion-color-tertiary-contrast: theme('colors.white.DEFAULT');
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: theme('colors.cornflower.300');
    --ion-color-tertiary-tint: theme('colors.cornflower.700');
  
    /** success **/
    --ion-color-success: theme('colors.vista-blue.500');
    --ion-color-success-rgb: 136, 212, 166;
    --ion-color-success-contrast: theme('colors.white.DEFAULT');
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: theme('colors.vista-blue.300');
    --ion-color-success-tint: theme('colors.vista-blue.700');
  
    /** warning **/
    --ion-color-warning: theme('colors.pumpkin-orange.500');
    --ion-color-warning-rgb: 250, 162, 158;
    --ion-color-warning-contrast: theme('colors.white.DEFAULT');
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: theme('colors.pumpkin-orange.300');
    --ion-color-warning-tint: theme('colors.pumpkin-orange.700');
  
    /** danger **/
    --ion-color-danger: theme('colors.muted-blue.500');
    --ion-color-danger-rgb: 244, 110, 113;
    --ion-color-danger-contrast: theme('colors.white.DEFAULT');
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: theme('colors.muted-blue.300');
    --ion-color-danger-tint: theme('colors.muted-blue.700');
  
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: theme('colors.white.DEFAULT');
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
  
    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: theme('colors.white.DEFAULT');
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
  
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: theme('colors.black.DEFAULT');
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}

@font-face {
  font-family: 'AirbnbCerealLight';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/AirbnbCerealLight.woff');
}
@font-face {
  font-family: 'AirbnbCerealMedium';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/AirbnbCerealMedium.woff');
}
@font-face {
  font-family: 'AirbnbCerealBold';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/AirbnbCerealBold.woff');
}
