@import url(https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900|prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'AirbnbCerealLight';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/AirbnbCerealLight.woff');
}
@font-face {
  font-family: 'AirbnbCerealMedium';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/AirbnbCerealMedium.woff');
}
@font-face {
  font-family: 'AirbnbCerealBold';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/AirbnbCerealBold.woff');
}

/* html {
  height: 100vh;
  width: 100vw;
  overscroll-behavior: none;
} */
html, body {
  height: 100%;
  overflow: hidden;
}

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

#app-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: theme('colors.gray.900');
  z-index: 100;
  background-image: url('/capgo.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 150px 150px;
}
