name = "capgo_api-prod"
route = { pattern = "api.capgo.app", custom_domain = true }
compatibility_date = "2024-09-23"
main = "./index.ts"
compatibility_flags = [ "nodejs_compat_v2" ]
placement = { mode = "smart" }
workers_dev = false
observability = { enabled = true }
analytics_engine_datasets = [
  { binding = "DEVICE_USAGE", dataset = "device_usage" },
  { binding = "BANDWIDTH_USAGE", dataset = "bandwidth_usage" },
  { binding = "VERSION_USAGE", dataset = "version_usage" },
  { binding = "APP_LOG", dataset = "app_log" },
]
d1_databases = [
  { binding = "DB_DEVICES", database_name = "capgo_prod_devices", database_id = "2510b55c-d6a2-4595-a2a5-d9aca82a3753" },
  { binding = "DB_REPLICATE", database_name = "capgo_prod_replicate", database_id = "7f267d86-f4f7-49f5-9622-e44373aa00dc" },
]

[env.preprod]
name = "capgo_api-preprod"
route = { pattern = "api-preprod.capgo.app", custom_domain = true }
analytics_engine_datasets = [
  { binding = "DEVICE_USAGE", dataset = "device_usage" },
  { binding = "BANDWIDTH_USAGE", dataset = "bandwidth_usage" },
  { binding = "VERSION_USAGE", dataset = "version_usage" },
  { binding = "APP_LOG", dataset = "app_log" },
]
d1_databases = [
  { binding = "DB_DEVICES", database_name = "capgo_prod_devices", database_id = "2510b55c-d6a2-4595-a2a5-d9aca82a3753" },
  { binding = "DB_REPLICATE", database_name = "capgo_prod_replicate", database_id = "7f267d86-f4f7-49f5-9622-e44373aa00dc" },
]

[env.alpha]
name = "capgo_api-alpha"
route = { pattern = "api-alpha.capgo.app", custom_domain = true }
analytics_engine_datasets = [
  { binding = "DEVICE_USAGE", dataset = "device_usage_alpha" },
  { binding = "BANDWIDTH_USAGE", dataset = "bandwidth_usage_alpha" },
  { binding = "VERSION_USAGE", dataset = "version_usage_alpha" },
  { binding = "APP_LOG", dataset = "app_log_alpha" },
]
d1_databases = [
  { binding = "DB_DEVICES", database_name = "capgo_alpha_devices", database_id = "2510b55c-d6a2-4595-a2a5-d9aca82a3753" },
  { binding = "DB_REPLICATE", database_name = "capgo_alpha_replicate", database_id = "7f267d86-f4f7-49f5-9622-e44373aa00dc" },
]

[env.local]
name = "capgo_api-local"
