name: Run tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - renovate/**
    tags:
      - '*'
  pull_request:

env:
  DENO_DIR: my_cache_directory

jobs:
  test_base_sql:
    runs-on: macos-latest-xlarge
    name: "Run tests"
    steps:
      - name: Cache Deno dependencies 
        uses: actions/cache@v4
        with:
          path: ${{ env.DENO_DIR }}
          key: my_cache_key
      - name: "Checkout capgo"
        uses: actions/checkout@v4
      - name: Install Supabase CLI
        uses: supabase/setup-cli@v1
        with:
          version: latest
      - name: Run Supabase Start
        run: supabase start -x imgproxy,studio,realtime,studio,logflare,vector,inbucket
      - run: supabase test db
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install   
      - run: bun run test:all

