<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
        <string>Capgo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ee.forgr.capacitorgo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>capgo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Allow camera access to try camera features in the sandbox app you are developing.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow calendar access to try calendar features in the sandbox app you are developing.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Allow full calendar access to try calendar features in the sandbox app you are developing.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Allow calendar write access to try calendar event creation features in the sandbox app you are developing.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow microphone access to record audio in the sandbox app you are developing.</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow motion access to try motion features in the sandbox app you are developing.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Allow speech recognition to try speech features in the sandbox app you are developing.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow location access to try background location features in the sandbox app you are developing.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow location access to try geolocation features in the sandbox app you are developing.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow photo library write access to try photo features in the sandbox app you are developing.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow photo library access to try photo features in the sandbox app you are developing.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
